:root {
    --sl-content-width: 80rem;
    --sl-text-5xl: 3.5rem;
  }
/* Dark mode colors. */
:root {
	--sl-color-accent-low: #2c1745;
	--sl-color-accent: #8923de;
	--sl-color-accent-high: #d3bcf7;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #f2e9fd;
	--sl-color-gray-2: #c7bdd5;
	--sl-color-gray-3: #9581ae;
	--sl-color-gray-4: #614e78;
	--sl-color-gray-5: #412e55;
	--sl-color-gray-6: #2f1c42;
	--sl-color-black: #1c1425;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #decefa;
	--sl-color-accent: #8b26e0;
	--sl-color-accent-high: #401a66;
	--sl-color-white: #1c1425;
	--sl-color-gray-1: #2f1c42;
	--sl-color-gray-2: #412e55;
	--sl-color-gray-3: #614e78;
	--sl-color-gray-4: #9581ae;
	--sl-color-gray-5: #c7bdd5;
	--sl-color-gray-6: #f2e9fd;
	--sl-color-gray-7: #ffffff;
	--sl-color-black: #ffffff;
}

:root[data-theme='light'] .expressive-code:not([data-theme='dark']), .expressive-code[data-theme='light'] {
    --ec-brdCol: #e1e4e8;
    --ec-codeBg: #f6f8fa;
    --ec-codeFg: #24292e;
    --ec-codeSelBg: #0366d625;
    --ec-gtrFg: #1b1f2381;
    --ec-gtrBrdCol: #1b1f2333;
    --ec-gtrHlFg: #24292eab;
    --ec-uiSelBg: #e2e5e9;
    --ec-uiSelFg: #2f363d;
    --ec-focusBrd: #2188ff;
    --ec-sbThumbCol: #959da533;
    --ec-sbThumbHoverCol: #959da5eb;
    --ec-tm-markBg: #9ab6ff99;
    --ec-tm-insBg: #8ec77d99;
    --ec-tm-insDiffIndCol: #336a28d0;
    --ec-tm-delBg: #ff9c8e99;
    --ec-tm-delDiffIndCol: #9d4138d0;
    --ec-frm-shdCol: #00000028;
    --ec-frm-frameBoxShdCssVal: 0.1rem 0.1rem 0.2rem #00000028;
    --ec-frm-edActTabBg: #fff;
    --ec-frm-edActTabFg: #2f363d;
    --ec-frm-edActTabIndTopCol: #f9826c;
    --ec-frm-edActTabIndBtmCol: #fff;
    --ec-frm-edTabBarBg: #f6f8fa;
    --ec-frm-edTabBarBrdCol: #e1e4e8;
    --ec-frm-edTabBarBrdBtmCol: #e1e4e8;
    --ec-frm-edBg: #f6f8fa;
    --ec-frm-trmTtbFg: #2f363d;
    --ec-frm-trmTtbDotsFg: #2f363d;
    --ec-frm-trmTtbBg: #fff;
    --ec-frm-trmTtbBrdBtmCol: #e1e4e8;
    --ec-frm-trmBg: #f6f8fa;
    --ec-frm-inlBtnFg: #24292e;
    --ec-frm-inlBtnBg: #24292e;
    --ec-frm-inlBtnBrd: #24292e;
    --ec-frm-tooltipSuccessBg: #208638;
    --ec-cs-closedBgCol: #d1d5da33;
    --ec-cs-closedBrdCol: #d1d5da80;
}

/* Enhance top search bar from 22rem to 80rem max width */
@media (min-width: 50rem) {
  button:where(.astro-tpulqnaz)[data-open-modal] {
    border: 1px solid var(--sl-color-gray-5);
    border-radius: 0.5rem;
    padding-inline-start: 0.75rem;
    padding-inline-end: 1rem;
    background-color: var(--sl-color-black);
    color: var(--sl-color-gray-2);
    font-size: var(--sl-text-sm);
    width: 100%;
    max-width: 80rem;
  }
}
